:root {
  --primary-color:#F21D44;
  --secondary-color: #740543;
  --footer-bg-color: #010D00;
  --primary-font: 'Poppins', 'sans-serif';
  --secondary-font: 'Roboto Slab', 'sans-serif'; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: var(--primary-font); }

img {
  max-width: 100%; }

ul {
  list-style-type: none; }

a, a:active, a:visited {
  text-decoration: none; }

h1 {
  font-size: clamp(1.5rem, 4vw, 2.265rem);
  line-height: 40px;
  font-weight: 500;
  font-family: var(--secondary-font); }

h2 {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  line-height: 32px;
  font-weight: 500;
  line-height: 40px;
  font-family: var(--secondary-font); }

.active {
  padding: 16px 0px;
  border-bottom: 2px solid #F21D44; }

.category-tag {
  color: #fff;
  padding: 2px 4px;
  font-size: 0.75rem;
  background-color: var(--primary-color); }

.width-100 {
  width: 100%;
  overflow: hidden;
  border-radius: 4px; }

.navigation-active {
  color: var(--primary-color); }

.navigation-icons {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 2px;
  border: 1px solid #000;
  background-color: #fff; }

.popular-items {
  display: flex;
  justify-content: space-between; }

.swiper-button-disabled {
  opacity: 0.2; }

.show-item {
  display: block; }

.hide-item {
  display: none; }

.align-small-blogs {
  display: grid;
  gap: 20px; }

.sidebar-small-blog {
  padding-top: 22px; }

@media (max-width: 767px) {
  .sidebar-small-blog {
    padding-top: 11px; } }

.extra-gap {
  gap: 35px; }

#extra-padding {
  padding: 0px 65px 0px 12px; }

@media (max-width: 767px) {
  #extra-padding {
    padding: 0px; }
  #extra-padding__small-gap {
    gap: 7px; } }

.blog__image {
  overflow: hidden;
  position: relative; }

.blog__details {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  align-content: end;
  justify-items: start;
  display: grid;
  justify-items: start;
  align-items: end;
  padding: 0px 24px 24px 24px;
  position: absolute;
  border-radius: 0px 0px 4px 4px;
  background: linear-gradient(0deg, black 0%, rgba(0, 212, 255, 0) 70%); }

.blog__details--content {
  padding: 0px 12px 12px 12px; }

.blog__title {
  color: #fff;
  font-size: 1.125rem;
  line-height: 24px;
  font-weight: 500;
  padding: 14px 0px 18px 0px; }

.blog__extra {
  display: flex;
  gap: 18px; }

.blog__link {
  color: #fff; }

.blog__author-date {
  font-size: 0.75rem;
  line-height: 14px;
  font-weight: 400; }

@media (max-width: 767px) {
  .blog__details {
    padding: 12px 12px 12px 12px; } }

.title__menu {
  margin: 33px 0px;
  position: relative; }

.title__topics {
  top: -22px;
  left: 0;
  padding-right: 12px;
  position: absolute;
  background-color: #fff; }

.title__topics--navigation {
  top: -13px;
  right: 0;
  position: absolute;
  gap: 16px;
  display: flex;
  padding: 0px 16px;
  background-color: #fff; }

.title__topics--menu {
  gap: 16px;
  display: flex;
  padding: 0px 16px;
  background-color: #fff; }

.title__topics--link {
  cursor: pointer; }

.title__topics--buttons {
  top: -15px;
  right: 0;
  position: absolute;
  background-color: #fff;
  display: flex;
  gap: 8px; }

@media (max-width: 767px) {
  .title__topics--navigation {
    top: 20px;
    right: 0;
    padding: 0px; }
  .title__topics--buttons {
    padding-left: 12px; }
  .title__topics--menu {
    z-index: 100; } }

.small-blogs {
  gap: 24px;
  display: grid;
  grid-template-columns: 100px auto; }

.small-blogs__content {
  margin: auto 0; }

.small-blogs__title {
  line-height: 28px;
  font-weight: 500;
  font-family: var(--secondary-font); }

.small-blogs__author-date {
  color: #606060;
  font-size: 0.75rem; }

.medium-blogs {
  column-gap: 24px;
  display: grid; }

.medium-blogs__content {
  margin: auto 0; }

.medium-blogs__poster-details {
  gap: 18px;
  display: flex; }

.medium-blogs__by {
  font-size: 0.75rem;
  color: #606060; }

.medium-blogs__by--link {
  color: #606060; }

.medium-blogs__paragraph {
  padding-top: 24px; }

@media (min-width: 768px) {
  .medium-blogs {
    grid-template-columns: 250px auto; } }

.container {
  margin: 0 auto;
  padding: 0px 16px; }

@media (max-width: 767px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 800px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  position: fixed;
  background-color: #fff; }

.logo {
  text-align: center; }

@media (max-width: 767px) {
  .logo {
    padding: 32px 0px 20px 0px; } }

@media (min-width: 992px) {
  .logo {
    padding: 32px 0px 40px 0px; } }

@media (max-width: 767px) {
  .hamburger {
    width: 40px;
    height: 5px;
    background-color: #000;
    position: relative;
    margin: auto 0;
    border-radius: 15px;
    z-index: 1000;
    cursor: pointer; }
  .hamburger::before, .hamburger::after {
    content: '';
    width: 40px;
    height: 5px;
    background-color: #000;
    position: absolute;
    border-radius: 15px;
    transition: 0.25s ease-in-out; }
  .hamburger::before {
    transform: translateY(-12px); }
  .hamburger::after {
    transform: translateY(12px); } }

@media (min-width: 768px) {
  .hamburger {
    display: none; } }

.animate-menu {
  position: relative;
  background-color: transparent; }

.animate-menu::before {
  transform: rotate(-45deg);
  position: fixed; }

.animate-menu::after {
  transform: rotate(45deg);
  position: fixed; }

.navigation {
  font-family: 'Poppins', sans-serif;
  padding: 16px 0px; }

.navigation__content {
  display: flex;
  justify-content: space-between; }

.navigation__content a {
  color: #000; }

@media (max-width: 767px) {
  .navigation__social-media {
    display: none; } }

@media (min-width: 768px) {
  .navigation__social-media--links {
    display: flex;
    gap: 1rem;
    color: #000; }
  .navigation__social-media a {
    color: #3d4245; } }

@media (max-width: 767px) {
  .navigation__navbar {
    display: none; } }

@media (min-width: 768px) {
  .navigation__navbar--links {
    display: flex;
    gap: 3rem; } }

.navigation__navbar a {
  font-weight: 500; }

.navigation__navbar a:hover {
  padding: 16px 0px;
  border-bottom: 2px solid var(--primary-color); }

.navigation__search--icon {
  cursor: pointer; }

.navigation__search--icon:hover {
  color: var(--primary-color); }

.navigation__search--overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: none; }

.navigation__search--close {
  color: #fff;
  top: 24px;
  right: 25px;
  font-size: 2rem;
  position: absolute;
  cursor: pointer; }

.navigation__search--form {
  top: 50%;
  left: 30%;
  right: 0;
  position: relative;
  display: flex; }

.navigation__search--input {
  width: 40%;
  font-family: var(--primary-font);
  padding: 16px; }

.navigation__search--button {
  border: none;
  background-color: var(--primary-color);
  padding: 14px 16px; }

.navigation__search--icon-search {
  color: #fff; }

.navigation a:hover {
  color: var(--primary-color); }

@media (max-width: 767px) {
  .navigation__search--form {
    top: 50%;
    left: 23%;
    right: 0;
    position: relative;
    display: flex; } }

@media (min-width: 768px) {
  .navigation {
    border-bottom: 1px solid #ebeceb; } }

@media (max-width: 767px) {
  .list-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 200px 0 0 0;
    text-align: center;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    box-shadow: -5px 13px 5px -13px rgba(0, 0, 0, 0.75) inset; }
  .list-nav--links {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 55px; } }

.main-blogs {
  margin-top: 230px;
  padding: 40px 0px 33px 0px; }

.main-blogs__content {
  gap: 15px;
  display: grid; }

.main-blogs__right-blog {
  gap: 15px;
  display: grid; }

.main-blogs__left-blog--image {
  overflow: hidden;
  position: relative; }

.main-blogs__left-blog--texts {
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50%;
  position: absolute;
  display: grid;
  row-gap: 18px;
  justify-items: start;
  align-items: end;
  align-content: end;
  padding: 0px 32px 40px 32px;
  border-radius: 0px 0px 4px 4px;
  background: linear-gradient(0deg, black 0%, rgba(0, 212, 255, 0) 70%); }

.main-blogs__left-blog--title {
  color: #fff; }

.main-blogs__left-blog--details {
  display: flex;
  gap: 18px; }

.main-blogs__left-blog--link {
  color: #fff; }

.main-blogs__left-blog--author-date {
  font-size: 0.75rem;
  line-height: 14px;
  font-weight: 400; }

@media (max-width: 767px) {
  .main-blogs {
    margin-top: 195px;
    padding: 20px 0px 16.5px 0px; }
  .main-blogs__content {
    grid-template-columns: repeat(1, 1fr); }
  .main-blogs__left-blog--texts {
    row-gap: 9px;
    padding: 0px 16px 20px 16px; } }

@media (min-width: 768px) {
  .main-blogs__content {
    grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 992px) {
  .main-blogs__content {
    grid-template-columns: 62% auto; } }

.hot-fashion__blogs {
  padding-top: 16px; }

.hot-fashion__blogs-left--image {
  position: relative; }

.hot-fashion__blogs-left--tag {
  top: 24px;
  left: 24px;
  position: absolute; }

.hot-fashion__blogs-left--details {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  position: absolute;
  gap: 16px;
  display: grid;
  justify-items: start;
  align-content: end;
  border-radius: 0px 0px 4px 4px;
  background: linear-gradient(0deg, black 0%, rgba(0, 212, 255, 0) 70%); }

.hot-fashion__blogs-left--title {
  color: #fff; }

.hot-fashion__blogs-left--paragraph {
  color: #fff; }

.hot-fashion__blogs-right {
  display: grid;
  gap: 22.52px; }

.hot-fashion__small-blogs--item {
  gap: 18.96px;
  display: grid;
  grid-template-columns: 76px auto; }

.hot-fashion__small-blogs--item-title {
  font-weight: 500;
  font-family: var(--secondary-font); }

.hot-fashion__small-blogs--item-content {
  margin: auto 0;
  display: grid;
  gap: 15.17px; }

.hot-fashion__small-blogs--author-date {
  font-size: 0.75rem;
  color: #606060; }

.hot-fashion__fashion--blogs {
  gap: 24px;
  display: grid; }

@media (max-width: 767px) {
  .hot-fashion__blogs {
    padding-top: 20px; }
  .hot-fashion__blogs-left--details {
    gap: 8px;
    padding: 12px; }
  .hot-fashion__blogs {
    gap: 12px;
    grid-template-columns: repeat(1, 1fr); }
  .hot-fashion__blogs-right {
    gap: 11.52px;
    padding-top: 15px; }
  .hot-fashion__fashion--blogs {
    padding-top: 0px;
    gap: 12px; } }

@media (min-width: 768px) {
  .hot-fashion__blogs {
    display: grid;
    gap: 19px;
    grid-template-columns: 50% auto; } }

@media (min-width: 992px) {
  .hot-fashion__fashion {
    padding-top: 0px; }
  .hot-fashion__fashion--blogs {
    padding-top: 0px; } }

@media (min-width: 1200px) {
  .hot-fashion__content {
    display: grid;
    gap: 50px;
    grid-template-columns: 64% auto; }
  .hot-fashion__fashion {
    padding-top: 0px; }
  .hot-fashion__fashion--blogs {
    padding-top: 16px; } }

.hot-topics__buttons {
  padding: 0px 0px 0px 29px; }

.hot-topics__blogs {
  padding-top: 11px; }

@media (max-width: 767px) {
  .hot-topics__blogs {
    padding-top: 0px; } }

@media (min-width: 992px) {
  .hot-topics {
    padding-top: 33px; } }

.diff-category__content {
  column-gap: 30px;
  row-gap: 5px;
  display: grid; }

.diff-category__blogs {
  gap: 35px;
  display: grid;
  padding-top: 8px; }

@media (max-width: 767px) {
  .diff-category__content {
    grid-template-columns: repeat(1, 1fr); }
  .diff-category__blogs {
    gap: 17px;
    padding-top: 0px; } }

@media (min-width: 768px) {
  .diff-category__content {
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 992px) {
  .diff-category {
    padding-top: 33px; }
  .diff-category__content {
    grid-template-columns: repeat(3, 1fr); }
  .diff-category__tech {
    padding-top: 0px; } }

.banner__content {
  column-gap: 20px;
  row-gap: 20px;
  display: grid;
  background-image: url("/assests/img/ads-banner.png"); }

.banner__content--button {
  margin: auto 0; }

.banner__content--link {
  color: #fff;
  font-weight: 500;
  padding: 12px 24px;
  line-height: 26px;
  border-radius: 16px;
  background-color: var(--primary-color); }

@media (max-width: 767px) {
  .banner {
    padding: 26px 0px 16px 0px; }
  .banner__content {
    grid-template-columns: repeat(1, 1fr);
    padding: 32px 64px; } }

@media (min-width: 768px) {
  .banner {
    padding: 76px 0px 33px 0px; }
  .banner__content {
    grid-template-columns: 50% auto;
    padding: 32px 64px; } }

.two-category {
  padding-bottom: 33px; }

.two-category__content {
  column-gap: 60px;
  display: grid; }

.two-category__blogs {
  display: grid;
  gap: 42px; }

.two-category__tech--blogs {
  padding-top: 26px; }

.two-category__popular--texts {
  display: grid;
  gap: 24px; }

.two-category__buttons {
  text-align: center;
  padding: 57.86px 0px 47px 0px; }

.two-category__buttons--link {
  padding: 20px 56px;
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 16px;
  transition: 0.2s ease-in-out; }

.two-category__buttons--link:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: var(--primary-color); }

@media (max-width: 767px) {
  .two-category {
    padding: 16px 0px; }
  .two-category__buttons {
    padding: 35px 0px 9.5px 0px; }
  .two-category__tech--blogs {
    padding-top: 0px; } }

@media (min-width: 768px) {
  .two-category__content {
    grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 992px) {
  .two-category__content {
    grid-template-columns: 63% auto; }
  .two-category__blogs {
    padding-top: 26px; }
  .two-category__tech--blogs {
    padding-top: 26px; }
  .two-category__popular {
    padding: 20.54px 0px; }
  .two-category__popular--texts {
    padding-top: 14px; }
  .two-category__recent {
    padding-top: 10.46px; } }

.footer {
  text-align: center;
  padding: 72px 0px 48px 0px;
  background-color: var(--footer-bg-color);
  font-family: var(--primary-font);
  border-bottom: 1px solid #0d180c; }

.footer__navbar {
  padding: 48px 0px; }

@media (max-width: 767px) {
  .footer__navbar--links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem; } }

@media (min-width: 768px) {
  .footer__navbar--links {
    display: flex;
    justify-content: center;
    gap: 3rem; } }

.footer__social-media--links {
  display: flex;
  justify-content: center;
  gap: 2rem; }

.footer a {
  color: #fff; }

.footer a:hover {
  color: var(--primary-color); }

.footer-copyright {
  font-family: var(--primary-font);
  font-weight: 400;
  padding: 24px 0px;
  background-color: var(--footer-bg-color); }

.footer-copyright__content {
  color: #fff;
  display: flex;
  justify-content: space-between; }

.footer-copyright a {
  color: #fff; }

.footer-copyright a:hover {
  color: var(--primary-color); }
